:root {
    --main-bg: #252525;
    --main-color: #FF0000;
    --main-color-colo: #AF0404;
    --main-color-alt: #414141;
    --main-transition: 0.3s;
    --main-padding-bottom: 100px;
    --main-padding-top: 100px;
}

/*  Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin: 0;
    height: auto;
    counter-reset: section;
    background-color: var(--main-color);
}


html::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--main-color-colo);
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-bg);
    border-radius: 5rem;
}


ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970;
    }
}


/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*  End Global Rules */



/* start header */
header {
    padding-top: 0px;
    z-index: 2;
    background-color: var(--main-bg);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

header .logo {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease var(--main-transition);
}

@media (max-width: 768px) {
    header .logo {
        width: 100%;
        border: none;
        padding: 0px 0px 25px;
    }
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
    }
}

header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}

header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    position: relative;
    color: var(--main-color);
    padding: 0 15px;
    transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width: 767px) {
    header .main-nav>li>a {
        width: 100%;
        height: 45px;
        font-size: 10px;
        margin-top: -26px;
    }
}

header .main-nav>li>a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 10%;
    border-radius: 50px;
    height: 9px;
    top: 15px;
    left: -100%;
    transition: ease 0.6s;
}

header .main-nav>li>a:hover::before {
    left: 50px;
    top: 53px;
}

header .main-nav>li>a:hover {
    color: rgb(109, 108, 108);
}

/* End header */


/* start landing */
.landing {
    position: relative;
    z-index: 0;
    background-color: var(--main-bg);
}

.landing .container {
    min-height: calc(100vh - 73px);
    gap: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

@media (max-width:776px) {
    .landing .container {
        padding: 40px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
}

.landing .imgs img {
    position: relative;
    width: 400px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s ease-in-out infinite;
    transition: all 0.3s;
}


.landing .text {
    text-align: center;
    font-weight: bold;
    min-width: 30%;
    flex: 0;
    padding: 27px 0;

    border-radius: 4px;
}


.landing .but1 {
    text-align: start;
    line-height: 3;
    padding-top: 12px;
    display: contents;
}

.landing .btn {
    margin: 0px 15px 0px 15px;
    background-color: #f0a500;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #3f3d56;
    font-weight: bolder;
    transition: ease 0.3s;
}

.landing .btn:hover {
    margin: 0px 15px 0px 15px;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #2f2e41;
    justify-content: space-between;
    transition: ease 0.3s;
}

.landing .btn1 {
    margin: 0px 15px 0px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #3f3d56;
    font-weight: bolder;
    transition: ease 0.3s;
}

.landing .btn1:hover {
    margin: 0px 15px 0px 15px;
    background-color: #f0a500;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #2f2e41;
    justify-content: space-between;
    transition: ease 0.3s;
}

.landing .but1 .tone {
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #2f2e41;
    transition: ease 0.3s;
}

.landing .but1 .tone:hover {
    background-color: #f0a500;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #3f3d56;
    transition: ease 0.3s;
}

.landing .container .text h1 {
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 18px;
}

/* End landing */



/* Start About */
.about {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--main-color-alt);
}

.about .special-heading {
    text-align: center;
    color: var(--main-color);
    font-weight: bolder;
    font-size: 40px;
}

.about .special {
    text-align: center;
    color: #ffffff33;
    font-weight: bolder;
    font-size: 35px;
    margin-top: -5px;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 400px;
    height: 375px;
    background-color: rgb(24 22 22);
    padding: 18px;
    border-radius: 23px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: auto;
    }
}


/* .about .about-content .image ::before {
    content: "";
    position: absolute;
    background-color: #ebeceb;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .aout-content .image ::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px var(--main-color);
    border-bottom: 80px var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {
    .about .about-content .image ::before .about .aout-content .image ::after {
        display: none;
    }
} */

.about .about-content .image img {
    max-width: 100%;
    border-radius: inherit;
    height: 47vh;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-size: xx-large;
    line-height: 4;
    color: #bdbdbd;
    margin-bottom: 0px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

.about .about-content .text p span {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.about .about-content .text p .The {
    display: block;
    text-align: center;
    padding: 5px 0 5px;
    color: red;
}

.about .but2 .two {
    display: block;
    margin: 20px auto 0;
    background-image: linear-gradient(#f0a500, #0000005c);
    padding: 10px;
    width: max-content;
    color: white;
    border-radius: 20px;
    border: 3px solid #3f3d56;
    transition: ease 0.3s;
}

.about .but2 .two:hover {
    margin: 20px auto 0;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #2f2e41;
    justify-content: space-between;
    transition: ease 0.3s;
}

/* End About */

footer {
    background-color: var(--main-bg);
    padding-top: 40px;
    padding-bottom: 40px;
}

footer .container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-col {
    font-size: 25px;

}

footer .footer-col h4 {
    padding-bottom: 20px;
    color: #f09c17;
}

footer .footer-col a {
    padding: 0 15px;
    color: aliceblue;
    font-size: 40px;
}

.copyrighet {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.alert {
    padding: 20px;
    background-color: var(--main-color-alt);
    opacity: 0.3;
    border-radius: 8px;
    width: auto;
    transition: opacity 0.6s;
    color: white;
    margin-top: 15px;
    transition: ease var(--main-transition);
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}